.project-details {
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: start;
  grid-gap: 60px;
}

/* project summary */
.project-summary {
  background-color: #fff;
  padding: 1rem 1rem 2rem;
  border-radius: .25rem;
  position: relative;
  outline: 2px solid var(--clr-status);
}

.project-summary.planning {
  --clr-status: var(--clr-status-planning);
}
.project-summary.waiting {
  --clr-status: var(--clr-status-waiting);
}
.project-summary.waiting .status {
  color: #fff;
}
.project-summary.programming {
  --clr-status: var(--clr-status-programming);
}
.project-summary.programming .status {
  color:#fff;
}
.project-summary.devstart {
  --clr-status: var(--clr-status-devstart);
}
.project-summary.devqa {
  --clr-status: var(--clr-status-devqa);
}
.project-summary.qa {
  --clr-status: var(--clr-status-qa);
}
.project-summary.qc {
  --clr-status: var(--clr-status-qc);
}
.project-summary.prod {
  --clr-status: var(--clr-status-prod);
}
.project-summary.prod .status {
  color:#fff;
}
.project-summary.cancelled {
  --clr-status: var(--clr-status-cancelled);
}
.project-summary.cancelled .status {
  color: #fff;
}
.project-summary.archived {
  --clr-status: var(--clr-status-archived);
}
.project-summary.archived .status {
  color: #fff;
}

.project-summary .maestro {
  position: absolute;
  right: 0.25rem;
  top: 2.25rem;
}
.project-summary h4 {
  color: var(--text-color);
  font-size: 1rem;
  border-top: 1px solid #eee;
  padding-top: .25rem;
  margin-top: 1rem;
}
.project-summary p {
  margin-bottom: .5rem;
}
.project-summary .assigned-users {
  display: flex;
  margin-top: .5rem;
  flex-wrap: wrap;
  gap: 2rem;
}

.project-summary .assigned-users .wrapper {
  position: relative;
}
.project-summary .remove-user {
  background-color: var(--clr-red-60);
  border-radius: 50%;
  width: 12px;
  height: 12px;
  position: absolute;
  right: 0;
}
.project-summary .remove-user::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 24 24' fill='%23FFF' xmlns='http://www.w3.org/2000/svg'><path d='M0 0h24v24H0V0z' fill='none'/><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z'/></svg>");
  cursor: pointer;
}
.project-summary .assigned-users .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  flex-grow: 0;
}
.project-summary .assigned-users .display-name {
  font-size: .675rem;
}
.project-summary + .btn {
  margin-top: 20px;
}
.project-summary .status {
  position: absolute;
  inset: 0 0 auto auto;
  padding: .25rem .5rem;
  background-color: var(--clr-status);
  border-bottom-left-radius: .25rem;
  font-weight: 700;
}
.project-summary .billing,
.project-summary .client,
.project-summary .details,
.project-summary .date.devstart,
.project-summary .date.devqa,
.project-summary .date.qa,
.project-summary .date.qc,
.project-summary .date.prod {
  font-size: 1em;
  color: var(--heading-color);
  position: relative;
  padding-top: .5rem;
  margin-bottom: .5rem;
}
.project-summary .billing::before,
.project-summary .client::before,
.project-summary .details::before,
.project-summary .date.devstart::before,
.project-summary .date.devqa::before,
.project-summary .date.qa::before,
.project-summary .date.qc::before,
.project-summary .date.prod::before {
  content: "";
  text-transform: uppercase;
  font-weight: 500;
  font-size: .625rem;
  line-height: 1;
  position: absolute;
  top: 0;
}
.project-summary .billing::before {
  content: "Billing Number";
}
.project-summary .client::before {
  content: "Client";
}
.project-summary .details::before {
  content: "Project"
}
.project-summary .date {
  font-size: 1rem;
}
.project-summary .date.devstart::before {
  content: "Dev Start"
}
.project-summary .date.devqa::before {
  content: "DevQA"
}
.project-summary .date.qa::before {
  content: "QA"
}
.project-summary .date.qc::before {
  content: "QC"
}
.project-summary .date.prod::before {
  content: "Prod"
}
.project-summary .created-by {
  position: absolute;
  font-size: .75rem;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 2px 6px;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  border-top-left-radius: .5rem;
}

/* project comments */
.project-comments label {
	margin-bottom: 0;
}
.project-comments textarea {
	min-height: 40px;
	font-size: 1.5em;
}

/* comment list */
.project-comments h4 {
  color: var(--heading-color);
}
.project-comments li {
  padding: 16px;
  border-radius: 4px;
  border: 1px solid #f2f2f2;
  margin-bottom: 20px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
  background: #fff;
}
.comment-author {
  display: flex;
  align-items: center;
  color: var(--title-color);
}
.comment-author .avatar {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.comment-date {
  color: var(--text-color);
  font-size: 0.9em;
  margin: 4px 0 10px;
}
.comment-content {
  color: var(--text-color);
  font-size: 0.9em;
}