.navbar {
	width: 100%;
	padding: 2rem 0;
	box-sizing: border-box;
	margin-bottom: 1rem;
}

.navbar ul {
	display: flex;
	margin: 0 auto;
	align-items: center;
	justify-content: flex-end;
}

.navbar .logo {
	font-weight: bold;
	color: var(--heading-color);
	letter-spacing: 1px;
	display: flex;
	align-items: center;
	margin-right: auto;
}

.navbar .logo img {
	margin-right: .5rem;
	filter: invert(25%);
	width: 3rem;
	margin-top: -8px;
}

.navbar a {
	color: #333;
	text-decoration: none;
	margin-right: 20px;
}